
body {
    background: url(https://wallpaperaccess.com/full/85323.png) ; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
} 