.navbar {
    width: 90%;
    list-style-type: none;
    overflow: hidden;
    float: left;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: space-between; 
}

